{#
/**
 * @file
 * Default theme implementation for an item list.
 *
 * Available variables:
 * - items: A list of renderable items. Each item has a #wrapper_attributes
 *   property which contains any HTML attributes which should be applied to the
 *   <li> tag.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 *
 * @see template_preprocess_item_list()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  {% if items %}
    <div class="item-list">
      {% if title -%}
        <h3>{{ title }}</h3>
      {% endif -%}
      {%- if list_type == 'ul' -%}
        <ul{{ attributes }}>
      {%- else -%}
        <ol{{ attributes }}>
      {%- endif %}
        {%- for item in items -%}
          <li{{ item['#wrapper_attributes'] }}>{{ item }}</li>
        {%- endfor -%}
      {%- if list_type == 'ul' -%}
        </ul>
      {%- else -%}
        </ol>
      {%- endif %}
    </div>
  {% elseif empty %}
    {{ empty }}
  {% endif %}
{% endspaceless %}
